*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: #f1f1f1;
}

a {
  text-decoration: none;
}

.home {
  position: relative;
}

#top {
  height: 100vh;
}

video {
  object-fit: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(0,0,0,0.6);
}
.home-content {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  top: 150px;
  color: #fff;
  z-index: 3;
}
.home-content h1 {
  font-family: Arial, serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 70px;
  line-height: 1.1;
}

.home-content h2 {
  font-family: Arial, serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 1.1;
}

.home-content h3 {
  font-family: Arial, serif;
  text-align: center;
  opacity: .8;
  font-size: 25px;
  line-height: 1.1;
}

.imgbar {
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  width: 50%;
}

img {
  width: 100%;
  border-radius: 10px;
}


.middle-line {
  height: 200px;
  width: 2px;
  background: #fff;
  margin: 40px auto;
}

button {
  display: block;
  font-size: 20px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background: transparent;
  color: #fff;
  margin: 50px auto 0;
  padding: 16px 30px;
  cursor: pointer;
}

.br {
  height: 150px;
}

.section {
  margin: 0 auto;
  width: 100%;
  font-family: Arial, serif;
  position: relative;
  color: #fff;
  z-index: 3;
}

.section-content {
  width: 800px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

#hoeone {
  background-color: rgba(80,80,80,.6);
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 3;
}

.section-content h3 {
  opacity: .7;
}


.section-content h1{
  text-transform: uppercase;
  font-size: 70px;
}

blockquote {
  margin-top: 20px;
  padding: 20px;
  font-size: 30px;
  border-style: solid;
  border-left-color: #fff;
  border-left-width: 2px;

  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
}

code {
  width: 800px;
  margin: 0 auto;
  font-size: 40px;
}



@media (max-width: 600px) {
  .home-content , .section-content{
    width: 100%;
    padding: 20px;
  }
  .home-content h1 {
    font-size: 45px;
  }

  .home-content h2 {
    font-size: 20px
  }

  .middle-line{
    height: 150px;
  }

  .column {
    width: 100%;
  }

}